// Some Variables to reffer to
// $open-sans: 'Open Sans', sans-serif !important;

// $color-dark: #24262F;
// $color-purple: #5B29B2;
// $color-green: #25DFB7;
// $color-green-hover: #22BC97;
// $color-pink: #f05c7e;
// $color-pink-hover: #DB5276;
// $color-offwhite: #F0F2F7;
// $color-darkgray: #8492A6;
// $color-lightgray: #D3DCE6;
// $form-label: #65647A;
// $form-input: #5293A6;

// Overriding bootstrap stuff by giving body a class
html,
body {
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

ul li {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 .strong,
h2 .strong,
h3 .strong,
h4 .strong,
h5 .strong,
h6 .strong {
  font-weight: 800;
}

p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;	
  font-size: 16px;
}

p.small {
	font-size: 13px;
}

section {
	padding: 50px 0;
}

.bg-white {
	background-color: #fff;
	color: #24262F;
}

.bg-offwhite {
	background-color: #F0F2F7;
	color: #24262F;
}

.bg-offwhite p {
	color: #8492A6;
}

.bg-purple {
	background-color: #5B29B2;
	color: #FFF;
}

.bg-dark {
	background-color: #24262F;
	color: #FFF;
}

.navbar-nav>li>a.header-button {
	border: 2px solid #25DFB7;
  padding: 5px 15px;
	margin-top: 10px;
	-webkit-transition: all 250ms ease 0s;
   -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
     -o-transition: all 250ms ease 0s;
        transition: all 250ms ease 0s;
}

.navbar-nav>li>a.header-button:hover, .navbar-nav>li>a.header-button:active, .navbar-nav>li>a.header-button:focus {
	color: #fff !important;
	background-color: #22BC97;
}

.navbar-default {
  background-color: #fff;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 400;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-weight: 300;
  letter-spacing: 1px;
  color: #f05c7e;
  padding: 15px;
}

.navbar-brand img {
	height: 60px;
	-webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
	width: auto;
}

@media (max-width: 767px) {
	.navbar-default .navbar-header .navbar-brand {
	  padding: 5px;
	}
	.navbar-brand img {
		height: 40px;		
	}
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #f05c7e;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #24262F;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-size: 13px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #24262F;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #f05c7e;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #f05c7e !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #24262F;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #f05c7e;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #24262F;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #f05c7e;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #24262F;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
	  font-weight: 300;
	  letter-spacing: 1px;
	  color: #f05c7e;
	  padding: 5px;
	}

	.navbar-default.affix .navbar-brand img {
		height: 40px;
		width: auto;
	}

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #f05c7e;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #24262F;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #f05c7e;
  }
}

@media (min-width: 768px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #FFF;
}

header h1, h2 {
	color: #24262F;
  margin-bottom: 30px;
}

hr {
	border-width: 4px;
	width: 75px;
	position: relative;
  left: -10px;
}

hr:after {
	content: '';
	width: 10px;
	height: 4px;
	position: absolute;
	right: -20px;
	bottom: 0px;
}

header .content {
	text-align: center;
}

header .content hr {
	border-color: #24262F;
}

header .content hr:after {
	background-color: #24262F;
}

@media (max-width: 767px) {
	header {
		padding: 100px 15px;
	}
	header.content {
		width: 100%;
	}

	.button.xlarge {
		font-size: 14px;
		padding: 15px 50px;
	}

}

@media (min-width: 768px) {

	header {
		padding: 175px 0;
	}
  header .content {
	  margin: auto;
	  max-width: 768px;
	} 
  
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-style: italic;
	border-radius: 4px;
	-webkit-transition: all 250ms ease 0s;
     -moz-transition: all 250ms ease 0s;
      -ms-transition: all 250ms ease 0s;
       -o-transition: all 250ms ease 0s;
          transition: all 250ms ease 0s;
}

.button.block {
	display: block;
	padding: 10px 0;
}

.button:hover, .button:focus, button:active {
	-webkit-box-shadow: 0px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow:    0px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow:         0px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-decoration: none;
	color: #fff;
}

.button.xlarge {
	font-size: 16px;
	padding: 20px 60px;
	line-height: 100px;
}

.button.green {
	background-color: #25DFB7;
}

#about .content hr {
	border-color: #24262F;
	border-width: 3px;
	margin-top: 10px;
}

#about .content hr:after {
	background-color: #24262F;
	height: 3px;
}

#about .content {
	text-align: center;
}

@media (min-width: 767px) {
	#about .content {
		max-width: 400px;
		margin: 0 auto;
	}
}


@media (min-width: 992px) {
	#about .content {
		margin-top: 100px;
	}
}

.cocoen__drag {
	background-color: #f05c7e !important;
}

.cocoen__drag:before {
	border-color: #f05c7e !important;
  width: 14px !important;
  margin-left: -7px !important;
}

#product {
	text-align: center;
	background: no-repeat center center;
	background-color: #5B29B2;
	background-size: 500px;
	background-image: url('../img/product.png');
}

#product p.product-p {
	text-transform: uppercase;
	font-weight: 600;
	font-style: italic;
}



@media (max-width: 767px) {
	#product {
		background-image: none;
	}

	#product .col-xs-hidden {
		display: none;
	}

	#product .col-xs-visible {
		display: block;
	}

	#product .content {
		margin-bottom: 20px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	#product {
		background-image: none;
	}

	#product .col-sm-hidden {
		display: none;
	}

	#product .col-sm-visible {
		display: block;
	}

	#product .content {
		margin-bottom: 20px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
  
}

@media (min-width: 992px) {

	#product .col-md-hidden {
		display: none;
	}

	#product .content {
    margin-bottom: 85px;
		width: 80%;
	}

	#product .content.right {
		margin-left: auto;
	}

	#product .content.left {
		margin-right: auto;	
	}

	#product .row:nth-child(4) .content {
		margin-top: 40px;
		margin-bottom: 0px;
	}

}

#product hr {
	border-width: 3px;
	margin-top: 10px;
	border-color: #fff;
}

#product hr:after {
	background-color: #fff;
	height: 3px;
}

#how {
	text-align: center;
}

#how hr {
	border-color: #24262F;
	border-width: 3px;
	margin-top: 10px;
}

#how hr:after {
	background-color: #24262F;
	height: 3px;
}

#how p.strong {
	color: #24262F;
	font-weight: 600;
	margin-top: 30px;
}

#how img {
	margin-bottom: 15px;
	margin-top: 15px;
}

#how p:not(.strong) {
	margin-bottom: 30px;
}

#how .col-sm-6 {
	min-height: 206px;
}

#quote {
	text-align: center;
}

#quote .quote {
	max-width: 700px;
	margin: auto;
}

#quote .quote-text {
	font-weight: 800;
	font-size: 30px;
	font-style: italic;
}

@media (max-width: 767px) {
	#quote .quote-text {
		font-size: 16px;
	}

}

#pricing {
	text-align: center;
}

#pricing hr {
	border-color: #24262F;
	border-width: 3px;
	margin-top: 10px;
}

#pricing hr:after {
	background-color: #24262F;
	height: 3px;
}

#pricing .pricing-toggle {
  line-height: 110px;
}

#pricing .pricing-toggle .toggle-button {
  padding: 10px 30px;
  border: 2px solid #f05c7e;
  margin: -3px;
  font-size: 14px;
  font-weight: 800;
  color: #f05c7e;
  text-decoration: none;
  font-weight: 
  -webkit-transition: all 250ms ease 0s;
     -moz-transition: all 250ms ease 0s;
      -ms-transition: all 250ms ease 0s;
       -o-transition: all 250ms ease 0s;
          transition: all 250ms ease 0s;
}

#pricing .pricing-toggle .toggle-button:hover {
	color: #fff;
	background-color: #DB5276;
}

#pricing .pricing-toggle .toggle-button.active {
  background-color: #f05c7e;
  color: #fff;
}

#pricing .pricing-block {
	padding: 20px;
	border: 2px solid #24262F;
	border-radius: 4px;
	margin: 20px 0;
}

#pricing .pricing-block.highlight {
	border: 2px solid #f05c7e;
	position: relative;
}

#pricing .pricing-block.highlight:after {
	content: "Best Value";
	position: absolute;
  top: -25px;
  right: 0px;
  color: #f05c7e;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

#pricing .pricing-block .title {
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	color: #24262F;
}

#pricing .pricing-block .number {
	line-height: 26px;
	font-weight: 400;
	color: #24262F;
}

#pricing .pricing-block .number span {
	font-size: 30px;
	font-weight: 600;
	color: #f05c7e;
}

#pricing .pricing-block .price {
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	color: #24262F;
}

#pricing .pricing-block .price .value {
	font-size: 16px;
	font-weight: 600;
	color: #24262F;
}

#pricing .link {
	color: #f05c7e;
	text-decoration: none;
	font-weight: 600;
}

#pricing .link:hover, .link:active, .link:focus {
	color: #DB5276;
	text-decoration: none;
}

#pricing ul {
	margin-top: 20px;
	display: block;
	overflow: auto;
}

#pricing ul li {
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
	font-size: 14px;
}

#pricing ul li img {
	margin-right: 5px;
}

@media (max-width: 991px) {
	#pricing ul li {
		max-width: 280px;
		margin: 0 auto;
	}

}

@media (min-width: 992px) {
	#pricing ul li {
		width: 33.333%;
		float: left;
	}

}

#study h3, #study p.small, #study .cta-col {
	text-align: center;
}

#study hr {
	border-color: #fff;
	border-width: 3px;
	margin-top: 10px;
}

#study hr:after {
	background-color: #fff;
	height: 3px;
}

#study ul {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#study ul li {
	font-size: 16px;
	line-height: 30px;
	font-style: italic;
	font-weight: 300;
}

#study ul li img {
	margin-left: 5px;
}

#study ul li .strong {
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	#study ul {
		text-align: center;

	}

}

#study .quote-small {
	max-width: 500px;
	margin: 0 auto;
}

#study .quote-small .quote-text {
	font-size: 16px;
	margin-bottom: 0;
}

#study .quote-small .quote-by {
	font-size: 12px;
	text-align: right;
}

@media (min-width: 768px) {
	#study .quote-small {
		margin-top: 50px;
	}

}

footer {
	background-color: #fff;
	color: #24262F;
	padding: 20px;
	text-align: center;
}

footer p {
	font-size: 12px;
}

footer ul {
	font-size: 12px;
	margin: 0;
}

footer ul li a {
	color: #24262F;
	text-decoration: none;
	-webkit-transition: all 250ms ease 0s;
     -moz-transition: all 250ms ease 0s;
      -ms-transition: all 250ms ease 0s;
       -o-transition: all 250ms ease 0s;
          transition: all 250ms ease 0s;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
	color: #f05c7e;
	text-decoration: none;
}


.form-group label {
  font-weight: 600;
  font-size: 14px;
  color: #65647A;
}
    
.form-group  .form-control, .form-control:focus {
    border: 1px solid #D3DCE6;
    border-radius: 4px;
    color: $form-input;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
